.prod-img {
  object-fit: contain;
}

.prod-name {
  width: 150px;
  height: 100px;
  overflow: hidden;
  font-weight: 600;
}

@media (max-width: 700px) {
  .prod-img{
    width: 150px;
    height: 150px;
  }
  .prod-name {
    width: 250px;
    height: 50px; 
  }
}

@media (min-width: 700px) and (max-width: 991px) {
  .prod-img{
    width: 150px; 
    height: 150px;
  }
  .prod-name {
    width: 150px; 
    height: 50px; 
  }
}

@media (min-width: 992px)   {
  .prod-img{
    width: 250px; 
    height: 250px;
  }
  .prod-name {
    width: 220px;
    overflow: hidden; 
    height: 70px; 
  }
}

.full-prod-img{
  width: 100%;
  height: 60vh;
  overflow: hidden;
  object-fit: contain;
}
.info-prod{
  min-width: 50vw;
  
}
.prod-desc{
  text-align: justify;
}
.symbol{
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.prod-container{
  border: solid .5px rgb(200, 196, 196);
  border-radius: 3%;
}
.grid{
  overflow-wrap: anywhere;
  overflow: hidden;
}
.intro-img{
  overflow: hidden;
  max-width: 350px;
  object-fit: contain;
}
.intro-text{
  text-align: justify;
}
.nav-item{
  cursor: pointer;
}